*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Nunito' !important;
    font-size: 17px;
    background-color: #08142c;
    color: white;
}

div.all-team{
    padding-top: 120px;
    
}
section.info h2{
    text-align: center;
    font-weight: 700;
    margin-bottom: 40px;
}

div.rowbox{
    width: 100%;
    justify-content: center;
    display: flex;
    padding-bottom: 40px;
    
}
div.box1{
    margin-right: 20px;
    background-color: white;
}
div.box1:last-child{
    margin-right: 0px;
}

div.box{
    border: 1px white solid;
    width: 306px;
    height:220px;
}

div.box img{
margin-left: auto;
  margin-right: auto;
  display: block;
  height: 220px;
  padding-top: 20px;
  padding-bottom: 20px;
}

section.seed{
    text-align: center;
    color: white;
    border-top: 1px white solid;
    display: block;
    width: 306px;
    background-color: #08142c;
    border: 1px solid white;
}
section.seed p{
    justify-content: center;
    padding-top: 10px;

}
div.image-logo:hover img{
    display: none;

}
div.button-choose{
    display: flex;
    width: 100%;
}

div.table-player {
    display: none;
    overflow: hidden; /* Hide overflowing content */
    transition: height 0.3s ease;

}
table.table-player{
    background-color: #08142c;
    border: 1px solid white;
}
table.table-player td p{
    text-align: center;
    margin: 0;  
}

div.image-logo:hover + div.table-player {
    display: block; /* Show the table-player when hovering its preceding image-logo */

    
}
td.name{
    text-align: center;
}
@media screen and (max-width:1366px) and (min-width:768px){
    div.image-logo {
        width: 45%;
        
        display: inline-block;
        vertical-align: top; /* Align elements vertically */
    }
    
    div.table-player {
        width: 54.4%;
        display: inline-block;
        vertical-align: top; /* Align elements vertically */
    }
    
    /* Additional styles for image inside image-logo */
    div.image-logo img {
        width: 64.5% !important;
        height: 70%;
        margin: auto;
        padding: 0;
    }
    div.box1:last-child{
        margin: 0 auto;
        margin-bottom: 20px;
    }
    /* Rest of your CSS styles */
    div.rowbox {
        display: block;
        width: 100%;
        padding-bottom: 0px;
        margin: 0 auto;
    }
    section.seed{
        margin: 0 auto;
        width: 100%;
    }
    div.box1{
        margin: 0 auto;
        width: 92%;
        margin-bottom: 20px;
    }
    div.box {
        margin: 0 auto;
        width: 100%;
        height: 90%;
    }
    div.table-player{
        border-left: 1px solid white;
    }
    table{
        height: 100%;
    }
    table td{
        background-color: #08142c !important;
    }
    div.button-choose{
        display: flex;
        width: 100%;
    }
    body{
        width: 100%;
    }
    div.image-logo:hover + div.table-player {
        display: inline-block; /* Show the table-player when hovering its preceding image-logo */
        
    }
    div.image-logo:hover img{
        display: block;
    
    }


}
@media screen and (max-width:768px) and (min-width:424.98px){
    div.image-logo {
        width: 46.7%;
        height: 140px;
        display: inline-block;
        vertical-align: top; /* Align elements vertically */
    }
    
    div.table-player {
        width: 52.1%;
        display: inline-block;
        vertical-align: top; /* Align elements vertically */
    }
    
    /* Additional styles for image inside image-logo */
    div.image-logo img {
        padding: 10px 0;
        width: 60% !important;
        height: 110%;
        padding: 0;
    }
    div.box1:last-child{
        margin: 0 auto;
        margin-bottom: 20px;
    }
    /* Rest of your CSS styles */
    div.rowbox {
        display: block;
        width: 100%;
        padding-bottom: 0px;
        margin: 0 auto;
    }
    section.seed{
        margin: 0 auto;
        width: 100%;
    }
    div.box1{
        margin: 0 auto;
        width: 92%;
        margin-bottom: 20px;
    }
    div.box {
        margin: 0 auto;
        width: 100%;
        height: 90%;
    }
    div.table-player{
        border-left: 1px solid white;
    }
    table td{
        background-color: #08142c !important;
    }
    div.button-choose{
        display: flex;
        width: 100%;
    }
    body{
        width: 100%;
    }
    div.image-logo:hover + div.table-player {
        display: inline-block; /* Show the table-player when hovering its preceding image-logo */
        
    }
    div.image-logo:hover img{
        display: block;
    
    }


}
@media screen and (max-width:425.98px) {
    
    div.image-logo {
        width: 44%; 
        height: 145px !important;
        display: inline-block;
        vertical-align: top; /* Align elements vertically */
    }
    
    div.table-player {
        width: 54.7%;
        display: inline-block;
        vertical-align: top; /* Align elements vertically */
    }
    
    /* Additional styles for image inside image-logo */
    div.image-logo img {
        width: 102% !important;
        height: 103%;
        padding: 0;
    }
    section.info h2{
        font-size: 28px;
    }
    div.box1:last-child{
        margin: 0 auto;
        margin-bottom: 20px;
    }
    /* Rest of your CSS styles */
    div.rowbox {
        display: block;
        width: 100%;
        padding-bottom: 0px;
        margin: 0 auto;
    }
    section.seed{
        margin: 0 auto;
        width: 100%;
    }
    div.box1{
        margin: 0 auto;
        width: 92%;
        margin-bottom: 20px;
    }
    div.box {
        margin: 0 auto;
        width: 100%;
        height: 90%;
    }
    div.table-player{
        border-left: 1px solid white;
    }
    table td{
        background-color: #08142c !important;
        font-size: 16px;
    }
    div.button-choose{
        display: flex;
        width: 100%;
    }
    body{
        width: 100%;
    }
    div.image-logo:hover + div.table-player {
        display: inline-block; /* Show the table-player when hovering its preceding image-logo */
        
    }
    div.image-logo:hover img{
        display: block;
    
    }
    section.info h2{
        font-size: 25px;
    }

}

@media screen and (max-width:365.98px) {
    div.image-logo {
        width: 45%; 
        height: 140px !important;
        display: inline-block;
        vertical-align: top; /* Align elements vertically */
    }
    
    div.table-player {
        width: 53.5%;
        display: inline-block;
        vertical-align: top; /* Align elements vertically */
    }
    
    /* Additional styles for image inside image-logo */
    div.image-logo img {
        width: 103% !important;
        height: 100%;
        padding: 0;
    }
    div.box1:last-child{
        margin: 0 auto;
        margin-bottom: 20px;
    }
    /* Rest of your CSS styles */
    div.rowbox {
        display: block;
        width: 100%;
        padding-bottom: 0px;
        margin: 0 auto;
    }
    section.seed{
        margin: 0 auto;
        width: 100%;
    }
    div.box1{
        margin: 0 auto;
        width: 92%;
        margin-bottom: 20px;
    }
    div.box {
        margin: 0 auto;
        width: 100%;
        height: 90%;
    }
    div.table-player{
        border-left: 1px solid white;
    }
    table td{
        background-color: #08142c !important;
        font-size: 15px;
    }
    div.button-choose{
        display: flex;
        width: 100%;
    }
    body{
        width: 100%;
    }
    div.image-logo:hover + div.table-player {
        display: inline-block; /* Show the table-player when hovering its preceding image-logo */
        
    }
    div.image-logo:hover img{
        display: block;
    
    }
    section.info h2{
        font-size: 22px;
    }
}

