body{
    background-color: #1f2833;
}
nav{
    position: fixed;
}
table.table-a,table.table-b,table.table-c,table.table-d,table.table-all,table.table-final{
    border: 1px solid white;
    text-align: center;
}

button.filter-table{
    margin-right: 10px;
    width: 120px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 0.3s background-color;
    border-radius: 5px;
}
button.filter-table:hover{
    background-color: black;
    color: white;
    border: 1px solid black;
}
button.filter-table:focus{
    background-color: rgba(0, 255, 255, 0.762);
    color: white;
}
.golden{
    background-color: gold;
}
.silver{
    background-color: silver;
}
.bronze{
    background-color: #cd7f32;
}
.table-final{
    width: 1350px;
    background-color: white;
    font-weight: 600;
}
tr{
    border: 1px black solid;
}
td,th{
    padding: 8px 0;
}

h2{
    color: white;
}
@media screen and (min-width: 1400px) {
    table.table-a,table.table-b,table.table-c,table.table-d,table.table-all{
        width: 1250px;
        margin: 0px auto 30px;
    }
    table.table-final{
        width: 1400px;
        margin: 0px auto 30px;
    }
    .button{
        margin-left: 160px;
        margin-top: 90px;
    }
    button.filter-table:nth-child(1){
        margin-left: 30px;
    }

    div.button-fliter{
        margin-left: 130px;
        margin-top: 20px;
    }
    

}

@media screen and (max-width: 1399.98px) and (min-width:768px){
    .button{
        margin-left: 60px;
        margin-top: 90px;
    }
    button.filter-table:nth-child(1){
        margin-left: -70px;
    }

    div.button-fliter{
        margin-left: 130px;
        margin-top: 20px;
    }
    table.table-a,table.table-b,table.table-c,table.table-d,table.table-all,table.table-final{
        width: 90%;
        margin: 20px auto;
    }
    
}


@media screen and (max-width:768px) {
    .button{
        margin-left: 135px;
        margin-top: 120px;
        display: block;
    }
    button.filter-table:nth-child(1){
        margin-left: 0px;
    }

    div.button-fliter{
        margin-left: 130px;
        margin-top: 20px;
    }
    table.table-a,table.table-b,table.table-c,table.table-d,table.table-all,table.table-final{
        width: 100%;
    }
}