@import 'https://fonts.googleapis.com/css?family=Roboto+Slab:4.win00,700';

html {
  font-size: 16px;
}

body {
  background: #f0f2f2;
}
img{
  height: 30px;
  padding-left: 8px;
}
.bracket {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  font-size: 0;
}

.bracket .round {
  display: inline-block;
  vertical-align: middle;
}

.bracket .round .winners>div {
  display: inline-block;
  vertical-align: middle;
}

.bracket .round .winners>div.matchups .matchup:last-child {
  margin-bottom: 0 !important;
}

.bracket .round .winners>div.matchups .matchup .participants {
  border-radius: 4px;
  overflow: hidden;
}

.bracket .round .winners>div.matchups .matchup .participants .participant {
  box-sizing: border-box;
  color: #858585;
  border-left: 4px solid #858585;
  background: white;
  width: 280px;
  height: 48px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
}

.bracket .round .winners>div.matchups .matchup .participants .participant.winner {
  color: #60c645;
  border-color: #60c645;
}

.bracket .round .winners>div.matchups .matchup .participants .participant.loser {
  color: #dc563f;
  border-color: #dc563f;
}

.bracket .round .winners>div.matchups .matchup .participants .participant:not(:last-child) {
  border-bottom: thin solid #f0f2f2;
}

.bracket .round .winners>div.matchups .matchup .participants .participant {
  display: flex;
  align-items: center;
}

.bracket .round .winners>div.matchups .matchup .participants .participant span {
  padding-left:5px;
  line-height: 3;
  font-size: 16px;
  font-family: "Roboto Slab";
}

.bracket .round .winners>div.matchups .matchup .participants .participant #score1,
.bracket .round .winners>div.matchups .matchup .participants .participant #score2,
.bracket .round .winners>div.matchups .matchup .participants .participant #score3,
.bracket .round .winners>div.matchups .matchup .participants .participant #score4,
.bracket .round .winners>div.matchups .matchup .participants .participant #score5,
.bracket .round .winners>div.matchups .matchup .participants .participant #score6,
.bracket .round .winners>div.matchups .matchup .participants .participant #score7,
.bracket .round .winners>div.matchups .matchup .participants .participant #score8,
.bracket .round .winners>div.matchups .matchup .participants .participant #score9,
.bracket .round .winners>div.matchups .matchup .participants .participant #score10,
.bracket .round .winners>div.matchups .matchup .participants .participant #score11,
.bracket .round .winners>div.matchups .matchup .participants .participant #score12,
.bracket .round .winners>div.matchups .matchup .participants .participant #score13,
.bracket .round .winners>div.matchups .matchup .participants .participant #score14,
.bracket .round .winners>div.matchups .matchup .participants .participant #score15,
.bracket .round .winners>div.matchups .matchup .participants .participant #score16,
.bracket .round .winners>div.matchups .matchup .participants .participant #quarter-score-1,
.bracket .round .winners>div.matchups .matchup .participants .participant #quarter-score-2,
.bracket .round .winners>div.matchups .matchup .participants .participant #quarter-score-3,
.bracket .round .winners>div.matchups .matchup .participants .participant #quarter-score-4,
.bracket .round .winners>div.matchups .matchup .participants .participant #quarter-score-5,
.bracket .round .winners>div.matchups .matchup .participants .participant #quarter-score-6,
.bracket .round .winners>div.matchups .matchup .participants .participant #quarter-score-7,
.bracket .round .winners>div.matchups .matchup .participants .participant #quarter-score-8,
.bracket .round .winners>div.matchups .matchup .participants .participant #semi-score-1,
.bracket .round .winners>div.matchups .matchup .participants .participant #semi-score-2,
.bracket .round .winners>div.matchups .matchup .participants .participant #semi-score-3,
.bracket .round .winners>div.matchups .matchup .participants .participant #semi-score-4,
.bracket .round .winners>div.matchups .matchup .participants .participant #score-champ-1,
.bracket .round .winners>div.matchups .matchup .participants .participant #score-champ-2
{
  margin-left: auto;
  padding-right: 20px;
}

.bracket .round .winners>div.connector.filled .line,
.bracket .round .winners>div.connector.filled.bottom .merger:after,
.bracket .round .winners>div.connector.filled.top .merger:before {
  border-color: #60c645;
}

.bracket .round .winners>div.connector .line,
.bracket .round .winners>div.connector .merger {
  box-sizing: border-box;
  width: 64px;
  display: inline-block;
  vertical-align: top;
}

.bracket .round .winners>div.connector .line {
  border-bottom: thin solid #c0c0c8;
  height: 64px;
}

.bracket .round .winners>div.connector .merger {
  position: relative;
  height: 128px;
}

.bracket .round .winners>div.connector .merger:before,
.bracket .round .winners>div.connector .merger:after {
  content: "";
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 50%;
  border: 0 solid;
  border-color: #c0c0c8;
}

.bracket .round .winners>div.connector .merger:before {
  border-right-width: thin;
  border-top-width: thin;
}

.bracket .round .winners>div.connector .merger:after {
  border-right-width: thin;
  border-bottom-width: thin;
}

.bracket .round.round-16 .winners:not(:last-child) {
  margin-bottom: 32px;
}
.bracket .round.round-16 .winners .matchups .matchup:not(:last-child) {
  margin-bottom: 32px;
}

.bracket .round.quarterfinals .winners:not(:last-child) {
  margin-bottom: 160px;
}

.bracket .round.quarterfinals .winners .matchups .matchup:not(:last-child) {
  margin-bottom: 160px;
}

.bracket .round.quarterfinals .winners .connector .merger {
  height: 256px;
}
.bracket .round.quarterfinals .winners .connector .line {
  height: 128px;
}


.bracket .round.semifinals .winners .matchups .matchup:not(:last-child) {
  margin-bottom: 416px;
}

.bracket .round.semifinals .winners .connector .merger {
  height: 512px;
}

.bracket .round.semifinals .winners .connector .line {
  height: 256px;
}

.bracket .round.finals .winners .connector .merger {
  height: 48px;
}

.bracket .round.finals .winners .connector .line {
  height: 24px;
}